*{
    margin: 0%;
    padding: 0%;
}
.cont{
    padding: 20px;
    margin: 90px;
    /* gap: 20px; */
    border: 0px solid;
    box-shadow: rgb(197, 195, 195, 0.4) 0px 4px 10px;
}
table {
    /* gap: 0px; */
    /* font-size: 30px; */
    display: flex;
    justify-content: center;
    
}
input{
    
}
td{
    width: 200px;
    padding: 10px;
    font-size: 20px;
    /* box-shadow: rgb(197, 195, 195, 0.4) 0px 4px 10px; */
}
tr{
    
}